.top {
    background-color: #D2D2D2;
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    flex-grow: 0;
    margin: 0;

    align-self: flex-start;
    justify-self: flex-start;
}

input {
    width: 90%;
    height: 20px;
    border: #D2D2D2 1px solid;
    border-radius: 10px;
    margin: 0%;
}

button {
    width: 10%;
    border: #D2D2D2 1px solid;
    border-radius: 10px;
    margin: 0%;
}

.form {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
}

.container {
    display: block;
    flex-grow: 1;
    margin: 0;
    background-color: hotpink;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body * {
    flex-grow: 0;
    width: 100%;
}